.payment-card {
  .credit-card-form.card {
    width: 400px;
    height: 250px;

    .card-logo {
      max-width: 33%;
      max-height: 25%;
    }

    .card-chip {
      max-width: 50px;
      max-height: 30px;
    }

    .signature-line {
      display: flex;
      gap: 10px;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: auto;

      .card-number-box,
      .card-expiration-date,
      .card-cvc {
        width: inherit;
      }

      .card-number-box > div {
        width: 100%;
      }

      .card-expiration-date > div {
        width: 100%;
      }

      .card-cvc > div {
        width: 100%;
      }
    }
  }
}
