.start {
  margin-top: 2.5rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    table.card {
      display: block;
      flex-direction: unset;
      align-items: unset;
      gap: unset;
      padding: 0;

      thead {
        tr {
          th {
            h5 {
              padding: 0.25em 0;
              margin: 0;
            }
          }
        }
      }

      tbody {
        tr {
          border-bottom: none;

          td {
            padding: 0.375em;

            input {
              width: 100%;
            }

            p.email {
              text-transform: lowercase;
            }
          }
        }
      }
    }

    .email {
      text-transform: lowercase;

      span {
        text-transform: capitalize;
        padding-right: 0.25rem;
      }
    }

    .address {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
    }

    .tax-exempt {
      display: flex;
      flex-direction: row;
    }
  }
}

.status {
  text-transform: capitalize;
}

.add-button {
  background-color: var(--orb-accounts-color-success);

  h4 {
    color: var(--orb-accounts-color-success-text);
    text-transform: capitalize;
  }
}

.delete-button {
  background-color: var(--orb-accounts-color-error);
  
  h4 {
    color: var(--orb-accounts-color-error-text);
    text-transform: capitalize;
  }
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}