.payment-options {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  a {
    button {
      padding: 0.5em;
    }
    &.active button {
      background-color: var(--orb-color-secondary);
      color: var(--orb-color-primary);
      box-shadow: none;
    }
  }
}

.payment-card-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  input {
    max-width: fit-content;
  }
}


.debit-credit-form {
  display: grid;
  grid-template-areas:
    'number number number'
    'holder holder holder'
    'month year cvv';
  gap: 1rem;
  width: 100%;
  max-width: 15rem;

  input {
    width: 100%;

    &.card-number-input {
      grid-area: number;
    }

    &.card-holder-input {
      grid-area: holder;
    }

    &.cvv-input {
      grid-area: cvv;
    }
  }

  select {
    &.month-input {
      grid-area: month;
    }

    &.year-input {
      grid-area: year;
    }
  }
}

.stripe-card.card {
  align-items: unset;
  width: 100%;
  max-width: 20rem;

  button {
    align-self: center;
  }
}

.wire-transfer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;

  .bank-check {
    padding: 0.25rem;
    width: 100%;
    height: auto;
    max-width: 840px;
    max-height: 351.936px;
    aspect-ratio: 8.75/3.666;

    table {
      width: 100%;
    }

    .check-logo {
      text-align: left;
    }

    .check-number {
      text-align: right;
    }

    .check-date {
      text-align: right;
    }

    .check-pay-to-border {
      border-bottom: var(--orb-color-primary) solid;

      .check-pay-to {
        text-align: left;
      }
    }

    .check-amount-box {
      border: var(--orb-color-primary) solid;

      .check-amount {
        text-align: right;
      }
    }

    .amount-words-border {
      border-bottom: var(--orb-color-primary) solid;

      .amount-words {
        text-align: left;
      }
    }

    .memo-border {
      display: flex;
      flex-direction: row;

      .memo {
        border-bottom: var(--orb-color-primary) solid;
        width: 100%;
        text-align: left;
        padding-left: 0.5rem;
      }
    }

    .signature-border {
      border-bottom: var(--orb-color-primary) solid;
    }

    .bank-numbers {
      display: flex;
      flex-direction: row;

      span {
        padding-left: 0.5rem;

        &.routing-number:before {
          content: '\2446';
        }

        &.account-number:before {
          content: '\2448';
        }
      }
    }
  }

  .wire-transfer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    max-width: fit-content;
  }
}

.crypto-container {
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
